<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>pattern library</title>
  <meta name="description" content="">
  <meta name="generator" content="kss-node" />

  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="public/kss.css">
</head>
<body>

<section class="patternLibrary">
    <nav class="patternLibrary_navigation">
        <h1>Pattern library</h1>
        <ul>
            <li><a href="index.html">0.0: Overview</a></li>
            {{#eachRoot}}
            <li><a href="section-{{reference}}.html">{{reference}}.0: {{header}}</a></li>
            {{/eachRoot}}
        </ul>
    </nav>
    <article class="patternLibrary_article">
        {{#if overview}}
            {{html overview}}
        {{else}}

        {{!
          Find each section, in order.
          If there's no markup or modifiers supplied, use a Markdown-only
          layout instead.

          The "root" element comes first in this loop, and can be detected using
          the "#whenDepth 1" block as seen below.
        }}

        {{#eachSection rootNumber}}
            {{#whenDepth 1}}
                <h1><span class="patternLibary_subjectRef">{{ reference }}.0</span> - {{ header }}</h1>
            {{else}}
                <section>
                <h{{ refDepth }} class="kss-title"><span class="patternLibary_subjectRef">{{ reference }}</span> - {{ header }}</h{{ refDepth }}>
            {{/whenDepth}}

            {{#ifAny markup modifiers}}
                <p>{{html description}}</p>
                <h6>Default styling</h6>
                <script type="kss-example/html">{{modifierMarkup}}</script>

                {{#eachModifier}}
                    <h6>{{name}}</h6>
                    <p>{{html description}}</p>
                    <script type="kss-example/html">{{modifierMarkup}}</script>
                {{/eachModifier}}

                <pre class="prettyprint lang-html linenums">{{markup}}</pre>
            {{else}}
                {{#if description}}
                    <p>{{html description}}</p>
                {{/if}}
            {{/ifAny}}

            {{#whenDepth 1}}
            {{else}}
                </section>
            {{/whenDepth}}
        {{/eachSection}}
      {{/if}}
    </article>
</section>

<!-- SCRIPTS -->
<script src="../assets/js/site.js"></script>
<script src="public/kss.js"></script>
<script src="public/prettify.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var codeBlockElements = document.querySelectorAll('pre > code')

        for ( var i = codeBlockElements.length - 1; i >= 0; i-- ){
            codeBlockElements[i].classList.add('prettyprint');
        }

        prettyPrint();

        var codeSampleElements = document.querySelectorAll('script[type="kss-example/html"]');

        for ( var i = codeSampleElements.length - 1; i >= 0; i-- ){
            (function(codeSampleElement){
                var html = codeSampleElement.innerHTML;
                var iframeElement = document.createElement('iframe');
                iframeElement.classList.add('patternLibrary_snippet');
                iframeElement.setAttribute('src', 'codeSample.html');

                codeSampleElement.parentNode.insertBefore(iframeElement, codeSampleElement.nextSibling);

                iframeElement.addEventListener('load', function(){
                    iframeElement.contentWindow.document.body.innerHTML = html;
                });
            })(codeSampleElements[i]);
        }
    });
</script>
</body>
</html>
