<!doctype html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="nl" class="js-html"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block headTitle %}First Class Internet - XS4ALL{% endblock %}</title>

    <!-- Meta items -->
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#2a2a20">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">

    <!-- Main css file-->
    <link rel="stylesheet" href="../assets/css/site.css">

    <!--[if IE 8]>
    <script src="../assets/javascript/html5.css3.support.js"></script>
    <![endif]-->
</head>
<body class="js-body">

<!--[if lt IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a
        href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<!-- Include header/nav on every page-->
{% include '../components/page-header.html' %}

<!-- Page specific content-->
{% block bodyContent %}bodycontent{% endblock %}


<!-- Include footer on every page-->
{% include '../components/page-footer.html' %}


<!-- Main javascript file -->
<script src="../assets/js/site.js"></script>
</body>
</html>
